@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
body {
    font: 400 16px/1.5 'Lato',Arial, Tahoma, sans-serif;
    color: #848789;
    line-height: 30px;
}
  
a {
    text-decoration: none;
}
  
ul {
    list-style: none;
  
}
  
table {
    border-collapse: collapse;
}
  
table, th, td {
    border: 1px solid black;
}
  
img {
    max-width: 100%;
    height: auto;
}
  
input {
    outline: none;
}
  
.wrapper {
    overflow: hidden;
  }
  
.container {
    max-width: 1600px;
    margin: 0 auto;
}

/* HEADER SECTION */

.header .container {
    position: relative;
}

.header .banner {
    line-height: 0;
}

.header .navigation {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    padding: 35px 15px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.navigation .menu {
    display: flex;
    align-items: center;
    flex-grow: 1;
    width: calc(50% - 74px);
}

.navigation .left-navigation {
    justify-content: flex-end;
}

.menu a {
    color: #4d4959;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 5px 35px;
    display: block;
}

.menu li {
    position: relative;
}

.menu li + li::before {
    content: '.';
    position: absolute;
    left: 0;
    bottom: 5px;
    color: #4d4959;
}

.logo img {
    width: 94px;
    margin: 0 27px;
}

.logo {
    flex-shrink: 0;
}

.logo-mobile, .menu-button, .close-menu {
    display: none;
}

.close-menu {
    width: 48px;
    height: 48px;
    background: url("../images/close.png") no-repeat 50% 50%;
    background-size: 32px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    transition: .3s ease;
}

.close-menu:hover {
    transform: rotate(-90deg);
}

.menu-button {
    cursor: pointer;
}

.menu-button img {
    width: 32px;
}

/* ABOUT SECTION */

.title-18 {
    color: #353738;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
}
  
.header .banner img {
    min-height: 100vh;
    width: 100%;
}

.about {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    height: 470px;
    text-align: center;
}


.about img {
    margin: 0 auto;
    width: 52px;
    height: auto;
    padding: 40px 0;
}

.about p {
    margin-top: 40px;
    font-size: 18px;
    width: 60%;
    align-self: center;
}

.logo-mobile img {
    width: 65px;
}

/* GRID SECTION */

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-33 {
    width: 33.3%;
    flex-shrink: 0;
}

.col-33 .col-text p:after {
    display: block;
    content: "";
    width: 50px;
    border-bottom: 1px solid rgb(215, 215, 215);
    margin: 0 auto;
    margin-top: 40px;
}

.col-50 {
    width: 50%;
    flex-shrink: 0;
}

.col-66 {
    width: 66.7%;
    flex-shrink: 0;
}

.col-100 {
    width: 100%;
    line-height: 0;
}

.col-100-img {
    line-height: 0;
    width: 100%;
    position: relative;
}

.col-100-img img {
    width: 100%;
}

.col-text {
    position: relative;
    width: 100%;
    padding: 72px 66px 55px;
    background: #fff;
    text-align: center;
}

.col-33 .col-text:after {
    content: '';
    position: absolute;
    top: 100%;
    left: calc(50% - 10px);
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid rgb(255, 255, 255);
    z-index: 1;
}

.col-text p {
    text-align: justify;
    padding: 10px 0px 0;
}

.col-text img {
    margin-bottom: 10px;
}

/* .col-text p:after {
    position: absolute;
    content: '';
    top: 100%;
    left: calc(50% - 50px);
    height: 1px;
    width: 50px;
    background-color: rgba(50, 50, 50, .3);
} */

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-image {
    background-size: cover;
    background-position: 50% 50%;
}


/* REVIEWS SECTION */
.reviews {
    padding: 125px 0 65px;
    background: #f7f7f7;
}

.swiper-slide {
    text-align: center;
}

.swiper-slide img {
    margin: 0 0 30px;
}

.swiper-slide p {
    font-size: 24px;
    max-width: 1050px;
    margin: 0 auto;
    font-style: italic;
}

.swiper-slide h4 {
    letter-spacing: 3px;
    color: #353738;
    font-weight: 700;
    font-size: 18px;
    text-transform: none;
    margin: 0 0 20px;
}

.swiper-slide h4 span {
    font-weight: 300;
    color: #848789;
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
    position: relative;
    line-height: 0;
}

.swiper-wrapper {
    margin-bottom: 100px;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    width: 15px;
    height: 15px;
    border: 1px solid #c9c9c9;
    border-radius: 50%;
    background-color: transparent;
    opacity: 1;
}

.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet.swiper-pagination-bullet-active {
    border-color: #a9afb3;
    background: #a9afb3;
}

/* SHOP SECTION */
#shop a[class^='col-'] {
    height: 265px;
    background-position: 50% 50%;
    background-size: cover;
    position: relative;
}

#shop a[class^='col-']:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    transition: .4s ease;
    z-index: 1;
    background: url("../images/shop-icon.png") no-repeat 50% 50%;
    background-color: rgba(100, 194, 158, 0.8);
}

#shop a[class^='col-']:hover:after {
    opacity: 1;
}

#shop .row .col-fullheight {
    height: 530px;
}

/* MEDIA */
@media (max-width: 1024px) {
    .logo-mobile, .menu-button, .close-menu {
        display: block;
    }
    
    .navigation-wrapper {
        position: fixed;
        height: 100vh;
        width: 320px;
        overflow-y: auto;
        padding: 80px 0 40px;
        background: #fff;
        right: -110%;
        top: 0;
        box-shadow: -2px 0px 6px 1px rgba(50, 50, 50, .3);
        display: block;
        transition: .5s ease;
    }

    .navigation-wrapper.active {
        right: 0;
    }

    .navigation-wrapper .logo {
        display: none;
    }

    .navigation-wrapper .menu {
        display: block;
        width: 100%;
        text-align: right;
    }

    .navigation-wrapper .menu a {
        font-size: 16px;
        padding: 10px 20px;
    }

    .navigation-wrapper .menu li:before {
        display: none;
    }
    
    .header .navigation {
        justify-content: space-between;
        padding: 15px;
    }
}











  