@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,400&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
body {
    font: 400 16px/1.5 'Lato',Arial, Tahoma, sans-serif;
}
  
a {
    text-decoration: none;
}
  
ul {
    list-style: none;
  
}
  
table {
    border-collapse: collapse;
}
  
table, th, td {
    border: 1px solid black;
}
  
img {
    max-width: 100%;
    height: auto;
}
  
input {
    outline: none;
}
  
.wrapper {
    overflow: hidden;
  }
  
.container {
    max-width: 1600px;
    margin: 0 auto;
}

h2 {
    color: #353738;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
}
  
.header .banner img {
    min-height: 100vh;
}

.about {
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    height: 470px;
    text-align: center;
}


.about img {
    margin: 0 auto;
    width: 52px;
    height: auto;
    padding: 40px 0;
}

.about p {
    color: #848789;
    margin-top: 40px;
    font-size: 18px;
    line-height: 37px;
    width: 60%;
    align-self: center;
}













  